name: Build and Test

on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install Python
      uses: actions/setup-python@v5
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
    - name: Install package
      shell: bash
      run: |
        python -m pip install pytest 'setuptools>=64'
        python -m pip install .
    - name: pytest
      shell: bash
      run: pytest tests
